.navigation {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000 !important;

    &__logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color--background !important;
        text-decoration: none;
        position: relative;
        margin-left: -5px;
        z-index: 2;
        transition: all 0.5s 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
    }
        
    .menu-toggle {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        z-index: 100;
        -webkit-user-select: none;
        user-select: none;

        /* hamburger */
        span {
            display: block;
            width: 34px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $color--background;
            border-radius: 3px;
            z-index: 100;
            transform-origin: 4px 0px;
            transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }

        /* logic */
        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            /* hide an place over hamburger */
            opacity: 0; 
            z-index: 102; 
            -webkit-touch-callout: none;
    
            &:checked {
                /* transform burger to crossmark on checked*/
                & ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: $color--background;
        
                    /* hides middle burger bar */
                    &:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                                
                    /* mirror last burger bar */
                    &:nth-last-child(2) {
                        margin-bottom: 0;
                        transform: rotate(-45deg) translate(0px, -1px);
                    }
                }

                /* animation */
                & ~ .menu {
                    transform: none;
                }
            }        
        }
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 48px;
    margin: 0;
    padding: 60px 0;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transform: translate(-100vw, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;
    z-index: 1;
    left: calc(100% - 95vw);
    width: 100vw;

    @media screen and (min-width: $breakpoint--sm) {
        --widthA: calc(90vw - 640px);
        left: calc(100% - 640px - var(--widthA) / 2);
    }

    @media screen and (min-width: $breakpoint--md) {
        --widthA: calc(90vw - 768px);
        left: calc(100% - 768px - var(--widthA) / 2);
    }

    @media screen and (min-width: $breakpoint--lg) {
        --widthA: calc(90vw - 1024px);
        left: calc(100% - 1024px - var(--widthA) / 2);
    }

    @media screen and (min-width: $breakpoint--xl) {
        --widthA: calc(90vw - 1280px);
        left: calc(100% - 1280px - var(--widthA) / 2);
    }

    @media screen and (min-width: $breakpoint--xxl) {
        --widthA: calc(90vw - 1536px);
        left: calc(100% - 1536px - var(--widthA) / 2);
    }

    &__item {
        &.item-github {
            display: inline-block;
            background: $color--background;
            padding: 0.5rem 1rem ;
            border-radius: 100px;
            color: $color--white;
            margin-top: 0.5rem;
            transition: $transition--normal;

            &:hover {
                background: $color--primary;
                color: $color--white;
            }
        }
    }

    li {
        padding: 10px 0;
        font-size: 1.3rem;
        font-weight: 600;
        position: relative;
        z-index: 1;
    }

    a {
        text-decoration: none;
        color: $color--background;
        transition: color 0.3s ease;

        &:hover {
            color: $color--primary;
        }
    }
}
