h1, h2 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
    margin-top: 5rem;

    @media screen and (min-width: $breakpoint--lg) {
        margin-top: 12rem;
    }
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: $color--white;
}

a {
    color: $color--white;
    transition: $transition--normal;
    
    &:hover{
        text-decoration: none;
    }
}
