.radarplot {
    &__input {
        text-align: left;
        margin: 0 auto 2rem;
        width: 100%;

        @media screen and (min-width: $breakpoint--sm) {
            text-align: center;
            width: 50%;
            max-width: 450px;
        }

        .select {
            display: block;
        }

        .slider-wrapper {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            & > span {
                font-size: 1.5rem;
            }
        
            .slider {
                margin-top: 0.7rem;
                flex-grow: 1;

                input {
                    width: 100%;
                }
            }
        } 

        .alert {
            color: #c70000;
            font-weight: bolder;
        }
    }
}
  