@import url('https://fonts.googleapis.com/css?family=Lato:300|Pontano+Sans&display=swap');

#svg_container {
    width: 100%;
    height: 100%;
}

#svg_container svg {
    width: 50%;
    height: 200px;
    display: block;    
    margin: 0 auto;
}

#svg_map svg {
    display: block;
    margin: 0 auto;
}